* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --side-font-size: 1.2rem;
  --round-card-size1: 0.5rem;
  --primary-color: #e8e2e2;
  --black: rgb(72, 78, 91);
  --active-color: #4169ec;
  --side-color: #dde7ebf1;
  --bg-active-color: #a5b0e049;
  --card-shadow: 1px 1px 10px #333;
}

.section {
  display: flex;
  position: relative;
}

.main {
  width: 100%;


}

.sideBar {
  position: absolute;
  overflow: hidden;
  padding: 0.5rem;
  z-index: 99;
  transform: translateX(-280px);
  transition: transform 0.2s ease-in;
}

.sideBar.show {

  transform: translateX(0);
}